.home-main {
  color: #fff;
  background-color: #ff7043;
  min-height: 100vh;
  margin: auto;
}

.device-section {
  min-height: 70vh;
  padding: 96px;
}

.content {
  font-size: 45px;
  position: absolute;
  width: 20px;
  margin-top: 200px;
  margin-left: 200px;
  text-transform: uppercase;
}
.details {
  display: inline-block;
  font-size: 15px;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
}
.first-part {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  display: inline-block;
}

.second-part {
  display: flex;
  padding: 20px;
  display: block;
}

.third-part {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  display: inline-block;
}

footer {
  background-color: rgba(0, 0, 0, 0.158);
  height: 60px;
}
.footer-button {
  text-align: center;
  padding-top: 10px;
}

button {
  padding: 5px;
  text-transform: uppercase;
  margin: 5px;
  background-color: aliceblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:nth-child(2){
  background-color: #1B2430;
  color: white;
}